<div class="main-chat">
  <div class="chat-header">
    <div class="left-header">
      <div class="header-title">
      棕棕跟主主的故事
      </div>
    </div>
    <div class="right-header">
      <div class="header-button">
      <a href="#">チャット終了</a>
      </div>
    </div>
  </div>
  <div class="messages">
    <div class="message">
      <div class="upper-message">
        <div class="message-user">
        棕棕
        </div>
        <div class="message-date">
        2020/03/10 (WEN) 15:38
        </div>
      </div>
      <div class="lower-message">
        <div class="message-content">
        棕棕爱主主
        </div>
      </div>
    </div>
    <div class="message">
      <div class="upper-message">
        <div class="message-user">
        主主
        </div>
        <div class="message-date">
        2020/03/10 (WEN) 15:38
        </div>
      </div>
      <div class="lower-message">
        <div class="message-content">
        主主也爱棕棕
        </div>
      </div>
    </div>
  </div>  
  <%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
  <% end %>
</div>  