<div class="main-chat">
  <div class="chat-header">
    <div class="left-header">
      <div class="header-title">
      棕棕跟主主的故事
      </div>
    </div>
    <div class="right-header">
      <div class="header-button">
      <a href="#">チャット終了</a>
      </div>
    </div>
  </div>
  <div class="messages">
    <div class="message">
      <div class="upper-message">
        <div class="message-user">
        棕棕
        </div>
        <div class="message-date">
        2020/03/10 (WEN) 15:38
        </div>
      </div>
      <div class="lower-message">
        <div class="message-content">
        棕棕爱主主
        </div>
      </div>
    </div>
    <div class="message">
      <div class="upper-message">
        <div class="message-user">
        主主
        </div>
        <div class="message-date">
        2020/03/10 (WEN) 15:38
        </div>
      </div>
      <div class="lower-message">
        <div class="message-content">
        主主也爱棕棕
        </div>
      </div>
    </div>
  </div>  
  <div class="form">
    <div class="input-form">
      <input class="form-message" placeholder="type a message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input class="form-submit" type="submit" value="送信">
  </div>  
</div>  